.container {
    display: flex;
    overflow-x: scroll;
}

.container-title {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.container-title .title {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    padding-top: 30%;
}

.container-title .text {
    text-align: center;
    font-size: 16px;
    color: #888;
    font-weight: bold;
    padding-bottom: 30%;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.transparent {
    border: transparent;
    font-size: 12px;
}

.green {
    background-color: green;
    color: white;
    font-size: 12px;
}

.yellow {
    background-color: yellow;
    color: black;
    font-size: 30px;
}

.flecha {
    width: 50px;
    height: 100px;
    font-size: 24px;
    border-color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}